rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /groups/{groupId}/{allPaths=**} {
      allow read: if true;
      allow update: if request.auth.uid != null;
      allow create: if request.auth.uid != null;
      allow delete: if request.auth.uid != null;
    }
  }
}