@import "./foundation/color";
@import "./foundation/font";
@import "./foundation/mixin";

.article {
    &_list {
        &_item {
            width: 100%;
            margin-top: 16px;

            background-color: $white_1;
            border-radius: 12px;    
            box-shadow: rgba(0, 0, 0, 0.043) 0px 3px 20px 0px;

            &:first-child {
                margin-top: 0px;
            }

            &_content {
                padding: 24px;
                position: relative;

                &_left {
                    width: 100%;
                    padding-right: 64px;
                }
                &_right {
                    position: absolute;
                    top: 50%;
                    right: 16px;
                    margin-top: -16px;

                    .right_icon {
                        width: 32px;
                        height: 32px;
                        background-color: $gray_1;
                        border-radius: 16px;
                        position: relative;

                        svg {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            margin-top: -6px;
                            margin-left: -6px;
                        }
                    }
                }

                &_date {
                    margin-bottom: 8px;

                    &_text {
                        font-size: 12px;
                        font-weight: 600;
                    }
                }
                &_title {
                    &_text {
                        font-size: 16px;
                        font-weight: 400;
                    }
                }
            }
        }
    }

    &_detail {
        width: 100%;
        padding: 48px;
        background-color: $white_1;
        border-radius: 12px;    
        box-shadow: rgba(0, 0, 0, 0.043) 0px 3px 20px 0px;

        @include mq() {
            padding: 24px;
        }

        &_head {
            width: 100%;
            border-bottom: 1px solid $border_1;
            margin-bottom: 48px;
            padding-bottom: 24px;

            @include mq() {
                margin-bottom: 24px;
                padding-bottom: 16px;
            }   

            &_left {
                float: left;
                
                &::after {
                    display: block;
                    width: 100%;
                    clear: both;
                    content: "";
                }

                @include mq() {
                    float: none;
                }    
            }
            &_right {
                float: right;

                @include mq() {
                    margin: 16px -4px 0px;
                    float: none;
                }

                &_item {
                    padding-left: 8px;
                    float: left;

                    @include mq() {
                        width: 50%;
                        padding-left: 4px;
                        padding-right: 4px;
                    }
                }

                &::after {
                    display: block;
                    width: 100%;
                    clear: both;
                    content: "";
                }    
            }

            &::after {
                display: block;
                width: 100%;
                clear: both;
                content: "";
            }  
            
            .user_icon {
                width: 40px;
                height: 40px;
                border-radius: 20px;
                background-color: $black_1;
                float: left;

                &_img {
                    display: block;
                    width: 40px;
                    height: 40px;
                }
            }

            .user_info {
                padding-top: 4px;
                padding-left: 4px;
                float: left;

                &_date {
                    margin-bottom: 4px;

                    &_text {
                        font-size: 12px;
                        font-weight: 600;
                        color: $black_1;
                    }
                }
                
                &_name {
                    &_text {
                        font-size: 16px;
                        color: $black_1;
                    }
                }
            }
        }

        &_row {
            margin-bottom: 48px;

            @include mq() {
                margin-bottom: 24px;
            }
            
            &:last-child {
                margin-bottom: 0px;
            }
        }

        &_title {
            margin-bottom: 16px;

            &_text {
                font-size: 24px;
                font-weight: 600;
                line-height: 1.25em;

                @include mq() {
                    font-size: 20px;
                }
            }
        }

        &_description {
            &_text {
                font-size: 16px;
                font-weight: 400;
                line-height: 2em;
                word-break: break-word
            }
        }
    }
}
