@import "./foundation/color";
@import "./foundation/font";
@import "./foundation/mixin";

.calendar {
    &_content {
        width: 100%;
        height: 100%;
        padding: 16px 2px;
        border-radius: 12px;

        &:hover {
            background-color: $orange_1;
        }

        &.is_disable {
            &:hover {
                background-color: $transparent;
            }
        }

        &.is_today {
            background-color: $orange_2;
            border: 4px solid $orange_1;

            &:hover {
                background-color: $orange_1;
            }
        }

        &.has_events {
            background-color: $orange_2;

            &:hover {
                background-color: $orange_1;
            }
        }
    }
    &_day {
        &_text {
            font-size: 15px;
            font-weight: 600;
            color: $black_1;

            &.is_today {
                color: $black_1;
            }

            &.is_other_month {
                color: $gray_3;
            }
        }
    }

    &_badge {
        width: 8px;
        height: 8px;
        border-radius: 4px;
        background-color: $transparent;
        margin: 8px auto 0px;
        transition: 0.3s;

        &.is_blue {
            background-color: $black_1;
        }

        &.is_white {
            background-color: $black_1;
        }
    }
}

.auther {
    width: 100%;

    &::after {
        display: block;
        width: 100%;
        content: "";
        clear: both;
    }

    &_profile {
        width: 100%;
        margin-bottom: 8px;
        padding: 16px;
        background-color: $white_1;
        border-radius: 12px;

        @include mq() {
            border-radius: 0px;
        }

        &::after {
            display: block;
            width: 100%;
            content: "";
            clear: both;
        }

        &_name {
            margin-bottom: 8px;

            &_text {
                font-size: 15px;

                .bold {
                    font-weight: 600;
                }
            }
        }

        &_description {
            &_text {
                font-size: 12px;
                line-height: 1.5em;
                font-weight: 400;
            }
        }

        &_icon {
            width: 48px;
            height: 48px;
            padding: 4px;
            float: left;
            background-color: $white_1;
            border-radius: 24px;
            box-shadow: 0 4px 8px 0 rgba(60, 140, 255, .15);

            &_img {
                width: 40px;
                height: 40px;
                border-radius: 20px;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                background-color: $deep_green_2;
            }
        }

        &_info {
            padding-left: 12px;
            margin-left: 48px;
        }

    }
}

.social {
    width: 100%;
    margin-top: 16px;

    &_list {
        &_item {
            width: 33.3333%;
            display: inline-block;
            text-align: center;
            border-right: 1px solid $border_1;

            &:last-child {
                border-right: 0px solid $border_1;
            }

            &_icon {
                width: 100%;
                padding: 4px;
                cursor: pointer;

                &_label {
                    font-size: 10px;
                    font-weight: 600;
                    line-height: 1em;
                    color: $black_1;
                    margin-top: 4px;
                }
            }
        }
    }
}

.copy {
    width: 100%;
    margin-top: 16px;

    &_area{
        display: flex;
        justify-content: center;
        padding: 12px;
        border-radius: 12px;
        border: 1px solid $border_1;
        cursor: pointer;

        &:hover {
            background-color: $deep_green_3;
        }

        &_text {
            font-size: 12px;
            font-weight: 600;
            line-height: 16px;
            margin-left: 8px;
            color: $deep_green_1;

            svg {
                display: inline;
            }
        }
    }
}