@import "./foundation/color";
@import "./foundation/font";
@import "./foundation/mixin";

.form {
  width: 100%;
  
  &_head { 
    margin-bottom: 32px;
  }

  &_caption {
    &_list {
      padding-left: 16px;

      &_item {
        width: 100%;
        font-size: 12px;
        font-weight: 600;
        line-height: 1.25em;
        list-style-type: disc;
        margin-bottom: 8px;

        &:last-child {
          margin-bottom: 0px;
        }
      }
    }
  }

  &_title {
    margin-bottom: 32px;

    @include mq() {
      margin-bottom: 16px;
    }

    &_text {
      font-size: 32px;
      color: $black_1;
      text-align: center;

      @include mq() {
        font-size: 24px;
      }
    }
  }

  &_description {
    margin-bottom: 16px;

    &_text {
      font-size: 16px;
      line-height: 1.5em;
      color: $black_1;

      @include mq() {
        font-size: 16px;
      }
    }
  }

  &_new {
    width: 100%;
    
    &_event {
      width: 100%;

      &_content {
        width: 100%;
        margin-bottom: 24px;
        padding: 24px 24px;
        background-color: $white_1;
        border-radius: 12px;
      }
    }
  }

  &_operation {
    width: 640px;
    margin: 0px auto;
    padding: 80px 48px;
    background-color: $white_1;

    @include mq() {
      width: 100%;
      padding: 48px 16px;
    }
  }

  &_sign_in {
    width: 100%;
    max-width: 640px;
    margin: 0px auto;
    padding: 48px 48px;
    background-color: $white_1;
    border-radius: 12px;

    @include mq() {
      width: 100%;
      padding: 24px 16px;
    }
  }

  &_row {
    width: 100%;
    margin-bottom: 24px;
  }
}

.create_article_list {
  margin-bottom: 16px;

  &_item {
    width: 100%;
    margin-bottom: 16px;
    padding: 16px;
    background-color: $white_1;
    border: 1px solid $border_1;
    border-radius: 12px;
    position: relative;
    z-index: 2;

    &::after {
      display: block;
      content: "";
      position: absolute;
      z-index: 1;

      width: 1px;
      height: 24px;
      bottom: 0px;
      left: 50%;
      margin-bottom: -24px;
      margin-left: -0.5px;
      background-color: $border_1;
    }

    &:last-child {
      margin-bottom: 0px;

      &::after {
        display: none;
      }
    }

    .article {
      &_title {
  
        &_text {
          font-size: 20px;
          line-height: 1.5em;
        }

        &_input {
          display: block;
          width: 100%;
          height: 24px;
          margin-bottom: 16px;
  
          font-size: 20px;
          line-height: 24px;
          border: 0px solid $border_1;
        }
      }
      &_description {
        margin-top: 24px;
        padding: 16px;
        border-radius: 12px;
        background-color: $gray_2;

        &_text {
          font-size: 16px;
          word-break: break-all;
          line-height: 1.5em;
        }

        &_loading {
          margin-top: 24px;
        }
      }
      &_delete_action {
        position: absolute;
        top: -8px;
        right: -8px;
      }
    }
  }
}

.button {
  &_on_submit {
    display: block;
    width: 100%;
    height: 48px;
    margin: 24px auto 0px;
    background-color: $blue_1;
    border-radius: 8px;

    font-size: 16px;
    line-height: 48px;
    color: $white_1;

    &.is_disabled {
      color: $disabled_1;;
      background-color: $gray_1;
    }

    &:hover {
      background-color: $hover_blue_1;
    }
  }
}

.label {
  display: block;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 8px;
}

.input {
  width: 100%;
  font-size: 16px;
  line-height: 48px;
  padding: 0px 16px;
  background-color: $white_1;
  border: 1px solid $border_1;
  border-radius: 12px;

  &_caption {
    width: 100%;
    font-size: 12px;
    font-weight: 600;
    color: $gray_1;
    margin-top: 8px;
  }
}

.textarea {
  width: 100%;
  height: 240px;
  font-size: 16px;
  line-height: 1.5em;
  padding: 16px;
  background-color: $white_1;
  border: 1px solid $border_1;
  border-radius: 12px;
}

.datepicker {
  display: block;
  width: 100%;
  height: 48px;
  padding: 0px 16px;

  line-height: 48px;
  border: 1px solid $border_1;
  border-radius: 12px;
}