@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

html,
body {
  padding: 0px;
  margin: 0px;
  font-family: 'Noto Sans JP', sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}
* {
  box-sizing: border-box;
}
*:hover {
  transition: 0.3s;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item {
  height: auto !important;
}
.react-confirm-alert-body h1{
  font-size: 20px;
  text-align: center !important;
  color: #202129;
  line-height: 1.25em;
  margin-bottom: 12px;
}
.react-confirm-alert-body {
  font-size: 16px;
  font-weight: 400;
  color: #202129;
  line-height: 1.5em;
}
.react-confirm-alert-overlay {
  background-color:rgba(64, 64, 64, 0.5) !important;
  z-index: 1000 !important
}
.react-confirm-alert-button-group > button {
  width: 50%;
  height: 48px;
  padding:  0pc!important;
  background: rgb(60, 140, 255) !important;
  border: 1px solid rgb(60, 140, 255) !important;
  border-radius: 12px !important;

  font-size: 16px !important;
  font-weight: bold;
  text-align: center;
  line-height: 48px;
}
.react-confirm-alert-button-group > button:first-child {
  width: 50%;
  height: 48px;
  padding:  0pc!important;
  background: #ffffff !important;
  border: 1px solid rgb(60, 140, 255) !important;
  border-radius: 12px !important;

  font-size: 16px !important;
  color: rgb(60, 140, 255)!important;
  font-weight: bold;
  text-align: center;
  line-height: 48px;
}

